body{
    margin: 0px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    font-family: 'Croissant One', cursive;
    font-family: 'Signika Negative', sans-serif;
}

h1{
    margin-bottom: 50px;
    font-size: 70px;
}

.entries {
    list-style-type: none;
    padding: 0;
    display: flex; 
    flex-wrap: wrap; 
}

.entries li {
    width: 220px; 
    border: 1px solid #ccc;
    margin-right: 10px; 
    margin-bottom: 10px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    padding: 10px; 
}

.entries li:last-child {
    margin-right: 0; 
}

.entries li:hover {
    background-color: #e0e0e0;
}

input{
    width: 30%;
    height: 40px;
    padding: 0px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid #111313;
    background: transparent;
}
input::placeholder{
    font-size: 13px;
    color: rgb(12, 17, 18);
}

button{
    width: 100px; 
    height: 40px;
    border-radius: 5px;
    border: none; 
    font-size: 20px; 
    color: #f9f9f9;  
    background-color: #313638;
}
button:hover{
    background-color: #181616;
    color: rgb(152, 152, 168);
}
label{
    font-size: 25px;
    color: rgb(12, 17, 18);
}